.font-georgiaBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-georgiaBold {
    font-family: 'Georgia-Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.font-arialBoldMT {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-arialBoldMT {
    font-family: 'Arial-BoldMT', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.font-georgiaItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-georgiaItalic {
    font-family: 'Georgia-Italic', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}
.mui-appbar {
    height: 64px;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .Empathy {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Empathy > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Empathy > .background > .state0_elBackground661066 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Empathy > .foreground > .state0_elEmpathyicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Empathy {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Empathy > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Empathy > .background > .state1_elBackground661066 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Empathy > .foreground > .state1_elEmpathyicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Collaboration {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Collaboration > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Collaboration > .background > .state0_elBackground615063 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Collaboration > .foreground > .state0_elCollaborationicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Collaboration {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Collaboration > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Collaboration > .background > .state1_elBackground615063 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Collaboration > .foreground > .state1_elCollaborationicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Ethics {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Ethics > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Ethics > .background > .state0_elBackground144352 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Ethics > .foreground > .state0_elEthicsicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Ethics {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Ethics > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Ethics > .background > .state1_elBackground144352 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Ethics > .foreground > .state1_elEthicsicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Curiosity {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Curiosity > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Curiosity > .background > .state0_elBackground523487 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Curiosity > .foreground > .state0_elCuriosityicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Curiosity {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Curiosity > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Curiosity > .background > .state1_elBackground523487 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Curiosity > .foreground > .state1_elCuriosityicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Humility {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Humility > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Humility > .background > .state0_elBackground1020642 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Humility > .foreground > .state0_elHumilityicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Humility {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Humility > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Humility > .background > .state1_elBackground1020642 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Humility > .foreground > .state1_elHumilityicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Thinking {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Thinking > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Thinking > .background > .state0_elBackground710099 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Thinking > .foreground > .state0_elThinkingicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .Thinking {
    min-height: 23px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 23px */
  }
  .Thinking > .background > .containerMinHeight {
    min-height: 23px;
  }


  .Thinking > .background > .state1_elBackground710099 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Thinking > .foreground > .state1_elThinkingicon {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .InventoryItemState {
    min-height: 119px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 154px */
  }
  .InventoryItemState > .background > .containerMinHeight {
    min-height: 119px;
  }


  .InventoryItemState > .foreground > .state0_elText {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 76px;
    width: 100.0%;
    height: 45px;
  }


  .InventoryItemState > .foreground > .state0_elRectangle {
    position: absolute;
    left: calc(50.0% + 0px - 34px);
    top: 0px;
    width: 68px;
    height: 68px;
  }

/* This component has a fixed-size layout */
  .InventoryItemState {
    min-height: 119px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 154px */
  }
  .InventoryItemState > .background > .containerMinHeight {
    min-height: 119px;
  }


  .InventoryItemState > .foreground > .state1_elImage {
    position: absolute;
    left: calc(50.0% + 0px - 34px);
    top: 0px;
    width: 68px;
    height: 68px;
  }


  .InventoryItemState > .foreground > .state1_elText {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 76px;
    width: 100.0%;
    height: 45px;
  }

/* This component has a fixed-size layout */
  .UserItem {
    min-height: 32px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 725px */
  }
  .UserItem > .background > .containerMinHeight {
    min-height: 32px;
  }


  .UserItem > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

.UserItem .elHumility {
  overflow: hidden;
}

.UserItem .elHumility.hasNestedComps > div {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}



  .UserItem > .foreground > .elHumility {
    position: absolute;
    left: 289px;
    top: 2px;
    width: 23px;
    height: 23px;
  }

.UserItem .elThinking {
  overflow: hidden;
}

.UserItem .elThinking.hasNestedComps > div {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}



  .UserItem > .foreground > .elThinking {
    position: absolute;
    left: 260px;
    top: 2px;
    width: 23px;
    height: 23px;
  }

.UserItem .elCuriosity {
  overflow: hidden;
}

.UserItem .elCuriosity.hasNestedComps > div {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}



  .UserItem > .foreground > .elCuriosity {
    position: absolute;
    left: 233px;
    top: 2px;
    width: 23px;
    height: 23px;
  }

.UserItem .elEthics {
  overflow: hidden;
}

.UserItem .elEthics.hasNestedComps > div {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}



  .UserItem > .foreground > .elEthics {
    position: absolute;
    left: 204px;
    top: 2px;
    width: 23px;
    height: 23px;
  }

.UserItem .elCollaboration {
  overflow: hidden;
}

.UserItem .elCollaboration.hasNestedComps > div {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}



  .UserItem > .foreground > .elCollaboration {
    position: absolute;
    left: 169px;
    top: 2px;
    width: 23px;
    height: 23px;
  }

.UserItem .elEmpathy {
  overflow: hidden;
}

.UserItem .elEmpathy.hasNestedComps > div {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}



  .UserItem > .foreground > .elEmpathy {
    position: absolute;
    left: 139px;
    top: 2px;
    width: 23px;
    height: 23px;
  }


  .UserItem > .foreground > .elText {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 4px;
    width: 133px;
    height: 26px;
  }

/* This component has a fixed-size layout */
  .InventoryItem {
    min-height: 121px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 155px */
  }
  .InventoryItem > .background > .containerMinHeight {
    min-height: 121px;
  }


  .InventoryItem > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

.InventoryItem .elInventoryItemState {
  overflow: hidden;
}

.InventoryItem .elInventoryItemState.hasNestedComps > div {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}



  .InventoryItem > .foreground > .elInventoryItemState {
    position: absolute;
    top: 0px;
    width: 154px;
    height: 119px;
  }


/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .background > .state0_elEmbed573400 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ARAppScreen > .background > .state0_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .background > .state0_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .background > .state0_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.ARAppScreen .state0_elArbutton747870 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elArbutton747870 {
    line-height: 52px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}

.ARAppScreen .state0_elInventorybutton205650 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elInventorybutton205650 {
    line-height: 52px;
    position: fixed;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 102px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 102px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 101px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 101px;
    height: 52px;
  }
}

.ARAppScreen .state0_elLeaderbutton675644 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elLeaderbutton675644 {
    line-height: 52px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state0_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}


/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .background > .state1_elEmbed573400 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ARAppScreen > .background > .state1_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .background > .state1_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .background > .state1_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .background > .state1_elBackground569119 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ARAppScreen > .background > .state1_elBackground569119 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .background > .state1_elBackground569119 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .background > .state1_elBackground569119 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.ARAppScreen .state1_elArbutton747870 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elArbutton747870 {
    line-height: 52px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}

.ARAppScreen .state1_elInventorybutton205650 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elInventorybutton205650 {
    line-height: 52px;
    position: fixed;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 102px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 102px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 101px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 101px;
    height: 52px;
  }
}

.ARAppScreen .state1_elLeaderbutton675644 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elLeaderbutton675644 {
    line-height: 52px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}


/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elText3474049 {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 24px;
    width: 100.0%;
    height: 26px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elText3474049 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 24px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elText3474049 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 24px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elText3474049 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 24px;
    width: 100.0%;
    height: 26px;
  }
}

  .ARAppScreen .state1_elList2:after {
    content: "";
    display: table;
    clear: both;
  }

  .ARAppScreen .state1_elList2 .gridItem {
    float: left;
    position: relative;
  }

@media (min-width: 1024px) {
  .ARAppScreen .state1_elList2 .gridItem {
    width: calc(100% / 2 - 9.0px*(1/2));
    overflow: hidden;
  }

  .ARAppScreen .state1_elList2 .cols2_0 {
    margin-right: 9.0px;
    margin-bottom: 18.0px;
    clear: left;
  }
  .ARAppScreen .state1_elList2 .cols2_1 {
    margin-bottom: 18.0px;
  }
  .ARAppScreen .state1_elList2 .cols2_1:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media (max-width: 1023px) {
  .ARAppScreen .state1_elList2 .gridItem {
    width: calc(100% / 2 - 9.0px*(1/2));
    overflow: hidden;
  }

  .ARAppScreen .state1_elList2 .cols2_0 {
    margin-right: 9.0px;
    margin-bottom: 18.0px;
    clear: left;
  }
  .ARAppScreen .state1_elList2 .cols2_1 {
    margin-bottom: 18.0px;
  }
  .ARAppScreen .state1_elList2 .cols2_1:after { }
  .ARAppScreen .state1_elList2 .cols2_1:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media (max-width: 767px) {
  .ARAppScreen .state1_elList2 .gridItem {
    width: calc(100% / 2 - 9.1px*(1/2));
    overflow: hidden;
  }

  .ARAppScreen .state1_elList2 .cols2_0 { margin-right: 0; margin-bottom: 0; }
  .ARAppScreen .state1_elList2 .cols2_1 { margin-right: 0; margin-bottom: 0; }
  .ARAppScreen .state1_elList2 .cols2_0 {
    margin-right: 9.1px;
    margin-bottom: 18.1px;
    clear: left;
  }
  .ARAppScreen .state1_elList2 .cols2_1 {
    margin-bottom: 18.1px;
  }
  .ARAppScreen .state1_elList2 .cols2_1:after { }
  .ARAppScreen .state1_elList2 .cols2_1:after { }
  .ARAppScreen .state1_elList2 .cols2_1:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media (max-width: 567px) {
  .ARAppScreen .state1_elList2 .gridItem {
    width: calc(100% / 2 - 9.1px*(1/2));
    overflow: hidden;
  }

  .ARAppScreen .state1_elList2 .cols2_0 { margin-right: 0; margin-bottom: 0; }
  .ARAppScreen .state1_elList2 .cols2_1 { margin-right: 0; margin-bottom: 0; }
  .ARAppScreen .state1_elList2 .cols2_0 { margin-right: 0; margin-bottom: 0; }
  .ARAppScreen .state1_elList2 .cols2_1 { margin-right: 0; margin-bottom: 0; }
  .ARAppScreen .state1_elList2 .cols2_0 {
    margin-right: 9.1px;
    margin-bottom: 18.1px;
    clear: left;
  }
  .ARAppScreen .state1_elList2 .cols2_1 {
    margin-bottom: 18.1px;
  }
  .ARAppScreen .state1_elList2 .cols2_1:after { }
  .ARAppScreen .state1_elList2 .cols2_1:after { }
  .ARAppScreen .state1_elList2 .cols2_1:after { }
  .ARAppScreen .state1_elList2 .cols2_1:after {
    content: "";
    display: table;
    clear: both;
  }

}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elList2 {
    position: absolute;
    left: calc(50.0% + 0px - 141px);
    top: 92px;
    width: 282px;
    height: 370px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elList2 {
    left: calc(50.0% + 0px - 141px);
    top: 92px;
    width: 282px;
    height: 370px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elList2 {
    left: calc(50.0% + 0px - 140px);
    top: 91px;
    width: 280px;
    height: 368px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state1_elList2 {
    left: calc(50.0% + 0px - 140px);
    top: 91px;
    width: 280px;
    height: 368px;
  }
}


/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .background > .state2_elEmbed573400 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ARAppScreen > .background > .state2_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .background > .state2_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .background > .state2_elEmbed573400 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .background > .state2_elBackground569119 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ARAppScreen > .background > .state2_elBackground569119 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .background > .state2_elBackground569119 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .background > .state2_elBackground569119 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.ARAppScreen .state2_elArbutton747870 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elArbutton747870 {
    line-height: 52px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elArbutton747870 {
    line-height: 52px;
    left: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}

.ARAppScreen .state2_elInventorybutton205650 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elInventorybutton205650 {
    line-height: 52px;
    position: fixed;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 102px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 102px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 101px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elInventorybutton205650 {
    line-height: 52px;
    left: calc(50.0% + 0px - 51px);
    bottom: 0px;
    width: 101px;
    height: 52px;
  }
}

.ARAppScreen .state2_elLeaderbutton675644 {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elLeaderbutton675644 {
    line-height: 52px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 91px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elLeaderbutton675644 {
    line-height: 52px;
    right: 0px;
    bottom: 0px;
    width: 90px;
    height: 52px;
  }
}

  .ARAppScreen .state2_elList li {
    margin-bottom: 5px;
  }



/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elList {
    position: absolute;
    left: 9px;
    right: 9px;
    top: 76px;
    width: calc(100.0% - 9px - 9px);
    height: 226px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elList {
    left: 9px;
    right: 9px;
    top: 76px;
    width: calc(100.0% - 9px - 9px);
    height: 226px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elList {
    left: 9px;
    right: 9px;
    top: 75px;
    width: calc(100.0% - 9px - 9px);
    height: 226px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elList {
    left: 9px;
    right: 9px;
    top: 75px;
    width: calc(100.0% - 9px - 9px);
    height: 226px;
  }
}


/* Narrowest size for this element's responsive layout */
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elText3474049 {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 24px;
    width: 100.0%;
    height: 26px;
  }
@media (min-width: 568px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elText3474049 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 24px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elText3474049 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 24px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .ARAppScreen > .screenFgContainer > .foreground > .state2_elText3474049 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 24px;
    width: 100.0%;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .background > .state0_elBackground682495 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .background > .state0_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .background > .state0_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .background > .state0_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elNext {
    overflow: hidden;
    position: fixed;
    right: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elNext {
    overflow: hidden;
    right: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elNext {
    overflow: hidden;
    right: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elNext {
    overflow: hidden;
    right: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elSkip9690 {
    overflow: hidden;
    position: fixed;
    left: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elSkip9690 {
    overflow: hidden;
    left: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elSkip9690 {
    overflow: hidden;
    left: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elSkip9690 {
    overflow: hidden;
    left: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elText {
    overflow: hidden;
    position: absolute;
    left: 23px;
    right: 23px;
    top: 56px;
    width: calc(100.0% - 23px - 23px);
    height: 86px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elText {
    overflow: hidden;
    left: 23px;
    right: 23px;
    top: 56px;
    width: calc(100.0% - 23px - 23px);
    height: 86px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elText {
    overflow: hidden;
    left: 22px;
    right: 22px;
    top: 56px;
    width: calc(100.0% - 23px - 22px);
    height: 86px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elText {
    overflow: hidden;
    left: 22px;
    right: 22px;
    top: 56px;
    width: calc(100.0% - 23px - 22px);
    height: 86px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elTextCopy {
    overflow: hidden;
    position: absolute;
    left: 23px;
    right: 23px;
    top: 136px;
    width: calc(100.0% - 23px - 23px);
    height: 78px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elTextCopy {
    overflow: hidden;
    left: 23px;
    right: 23px;
    top: 136px;
    width: calc(100.0% - 23px - 23px);
    height: 78px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elTextCopy {
    overflow: hidden;
    left: 22px;
    right: 22px;
    top: 135px;
    width: calc(100.0% - 23px - 22px);
    height: 78px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state0_elTextCopy {
    overflow: hidden;
    left: 22px;
    right: 22px;
    top: 135px;
    width: calc(100.0% - 23px - 22px);
    height: 78px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .background > .state1_elBackground682495 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .background > .state1_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .background > .state1_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .background > .state1_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elNext {
    overflow: hidden;
    position: fixed;
    right: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elNext {
    overflow: hidden;
    right: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elNext {
    overflow: hidden;
    right: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elNext {
    overflow: hidden;
    right: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elSkip9690 {
    overflow: hidden;
    position: fixed;
    left: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elSkip9690 {
    overflow: hidden;
    left: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elSkip9690 {
    overflow: hidden;
    left: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elSkip9690 {
    overflow: hidden;
    left: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elTextCopy2 {
    overflow: hidden;
    position: fixed;
    left: 23px;
    right: 23px;
    bottom: 91px;
    width: calc(100.0% - 23px - 23px);
    height: 40px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elTextCopy2 {
    overflow: hidden;
    left: 23px;
    right: 23px;
    bottom: 91px;
    width: calc(100.0% - 23px - 23px);
    height: 40px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elTextCopy2 {
    overflow: hidden;
    left: 22px;
    right: 22px;
    bottom: 90px;
    width: calc(100.0% - 23px - 22px);
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elTextCopy2 {
    overflow: hidden;
    left: 22px;
    right: 22px;
    bottom: 90px;
    width: calc(100.0% - 23px - 22px);
    height: 40px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elText2 {
    overflow: hidden;
    position: absolute;
    left: 23px;
    right: 23px;
    top: 90px;
    width: calc(100.0% - 23px - 23px);
    height: 40px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elText2 {
    overflow: hidden;
    left: 23px;
    right: 23px;
    top: 90px;
    width: calc(100.0% - 23px - 23px);
    height: 40px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elText2 {
    overflow: hidden;
    left: 22px;
    right: 22px;
    top: 90px;
    width: calc(100.0% - 23px - 22px);
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elText2 {
    overflow: hidden;
    left: 22px;
    right: 22px;
    top: 90px;
    width: calc(100.0% - 23px - 22px);
    height: 40px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elText3623545 {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 46px;
    width: 100.0%;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 46px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 45px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state1_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 45px;
    width: 100.0%;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .background > .state2_elBackground682495 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .background > .state2_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .background > .state2_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .background > .state2_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elNext {
    overflow: hidden;
    position: fixed;
    right: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elNext {
    overflow: hidden;
    right: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elNext {
    overflow: hidden;
    right: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elNext {
    overflow: hidden;
    right: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elSkip9690 {
    overflow: hidden;
    position: fixed;
    left: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elSkip9690 {
    overflow: hidden;
    left: 23px;
    bottom: 23px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elSkip9690 {
    overflow: hidden;
    left: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elSkip9690 {
    overflow: hidden;
    left: 22px;
    bottom: 22px;
    width: 60px;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elTextCopy2 {
    overflow: hidden;
    position: fixed;
    left: 18px;
    right: 18px;
    bottom: 73px;
    width: calc(100.0% - 18px - 18px);
    height: 70px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elTextCopy2 {
    overflow: hidden;
    left: 18px;
    right: 18px;
    bottom: 73px;
    width: calc(100.0% - 18px - 18px);
    height: 70px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elTextCopy2 {
    overflow: hidden;
    left: 18px;
    right: 18px;
    bottom: 72px;
    width: calc(100.0% - 18px - 18px);
    height: 70px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elTextCopy2 {
    overflow: hidden;
    left: 18px;
    right: 18px;
    bottom: 72px;
    width: calc(100.0% - 18px - 18px);
    height: 70px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elText2 {
    overflow: hidden;
    position: absolute;
    left: 18px;
    right: 18px;
    top: 90px;
    width: calc(100.0% - 18px - 18px);
    height: 40px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elText2 {
    overflow: hidden;
    left: 18px;
    right: 18px;
    top: 90px;
    width: calc(100.0% - 18px - 18px);
    height: 40px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elText2 {
    overflow: hidden;
    left: 18px;
    right: 18px;
    top: 90px;
    width: calc(100.0% - 18px - 18px);
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elText2 {
    overflow: hidden;
    left: 18px;
    right: 18px;
    top: 90px;
    width: calc(100.0% - 18px - 18px);
    height: 40px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elText3623545 {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 46px;
    width: 100.0%;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 46px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 45px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state2_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 45px;
    width: 100.0%;
    height: 26px;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .background > .state3_elBackground682495 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .background > .state3_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .background > .state3_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .background > .state3_elBackground682495 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state3_elText3623545 {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 46px;
    width: 100.0%;
    height: 26px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state3_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 46px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state3_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 45px;
    width: 100.0%;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state3_elText3623545 {
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 45px;
    width: 100.0%;
    height: 26px;
  }
}

.OnboardingScreen .state3_elButton {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .screenFgContainer > .foreground > .state3_elButton {
    line-height: 35px;
    position: fixed;
    left: calc(50.0% + 0px - 122px);
    bottom: 68px;
    width: 244px;
    height: 35px;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state3_elButton {
    line-height: 35px;
    left: calc(50.0% + 0px - 122px);
    bottom: 68px;
    width: 244px;
    height: 35px;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state3_elButton {
    line-height: 35px;
    left: calc(50.0% + 0px - 121px);
    bottom: 68px;
    width: 242px;
    height: 35px;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .screenFgContainer > .foreground > .state3_elButton {
    line-height: 35px;
    left: calc(50.0% + 0px - 121px);
    bottom: 68px;
    width: 242px;
    height: 35px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .LoginScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.LoginScreen .elGetsteem {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elGetsteem {
    line-height: 35px;
    position: absolute;
    left: calc(50.0% + 0px - 72px);
    top: 351px;
    width: 145px;
    height: 35px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elGetsteem {
    line-height: 35px;
    left: calc(50.0% + 0px - 72px);
    top: 351px;
    width: 145px;
    height: 35px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elGetsteem {
    line-height: 35px;
    left: calc(50.0% + 0px - 72px);
    top: 349px;
    width: 144px;
    height: 35px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elGetsteem {
    line-height: 35px;
    left: calc(50.0% + 0px - 72px);
    top: 349px;
    width: 144px;
    height: 35px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elLogin {
    overflow: hidden;
    position: absolute;
    left: calc(50.0% + 0px - 119px);
    top: 453px;
    width: 238px;
    height: 51px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elLogin {
    overflow: hidden;
    left: calc(50.0% + 0px - 119px);
    top: 453px;
    width: 238px;
    height: 51px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elLogin {
    overflow: hidden;
    left: calc(50.0% + 0px - 118px);
    top: 450px;
    width: 236px;
    height: 50px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elLogin {
    overflow: hidden;
    left: calc(50.0% + 0px - 118px);
    top: 450px;
    width: 236px;
    height: 50px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elWelcome {
    overflow: hidden;
    position: absolute;
    left: calc(50.0% + 0px - 119px);
    top: 25px;
    width: 238px;
    height: 135px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elWelcome {
    overflow: hidden;
    left: calc(50.0% + 0px - 119px);
    top: 25px;
    width: 238px;
    height: 135px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elWelcome {
    overflow: hidden;
    left: calc(50.0% + 0px - 118px);
    top: 25px;
    width: 236px;
    height: 134px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elWelcome {
    overflow: hidden;
    left: calc(50.0% + 0px - 118px);
    top: 25px;
    width: 236px;
    height: 134px;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elText {
    overflow: hidden;
    position: absolute;
    left: calc(50.0% + 0px - 119px);
    top: 190px;
    width: 238px;
    height: 134px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elText {
    overflow: hidden;
    left: calc(50.0% + 0px - 119px);
    top: 190px;
    width: 238px;
    height: 134px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elText {
    overflow: hidden;
    left: calc(50.0% + 0px - 118px);
    top: 189px;
    width: 236px;
    height: 134px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elText {
    overflow: hidden;
    left: calc(50.0% + 0px - 118px);
    top: 189px;
    width: 236px;
    height: 134px;
  }
}

