.font-arialBoldMT {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-arialBoldMT {
    font-family: 'Arial-BoldMT', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}
.mui-appbar {
    height: 64px;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .Comp3 {
    min-height: 32px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 236px */
  }
  .Comp3 > .background > .containerMinHeight {
    min-height: 32px;
  }


  .Comp3 > .foreground > .state0_elHumilityicon {
    position: absolute;
    left: 204px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state0_elThinkingicon {
    position: absolute;
    left: 163px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state0_elCuriosityicon {
    position: absolute;
    left: 122px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state0_elCollaborationicon {
    position: absolute;
    left: 41px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state0_elEthicsicon {
    position: absolute;
    left: 82px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state0_elEmpathyicon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
  }

/* This component has a fixed-size layout */
  .Comp3 {
    min-height: 32px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 236px */
  }
  .Comp3 > .background > .containerMinHeight {
    min-height: 32px;
  }


  .Comp3 > .foreground > .state1_elHumilityicon {
    position: absolute;
    left: 204px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state1_elThinkingicon {
    position: absolute;
    left: 163px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state1_elCuriosityicon {
    position: absolute;
    left: 122px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state1_elCollaborationicon {
    position: absolute;
    left: 41px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state1_elEthicsicon {
    position: absolute;
    left: 82px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


  .Comp3 > .foreground > .state1_elEmpathyicon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
  }


/* Narrowest size for this element's responsive layout */
  .ARScannerScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ARScannerScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ARScannerScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ARScannerScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .ARScannerScreen > .screenFgContainer > .foreground > .elEmbed {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -20px;
    width: 100.0%;
    height: 567px;
  }
@media (min-width: 568px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elEmbed {
    left: 0px;
    right: 0px;
    top: -20px;
    width: 100.0%;
    height: 296px;
  }
}
@media (min-width: 768px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elEmbed {
    left: 0px;
    right: 0px;
    top: -20px;
    width: 100.0%;
    height: 1003px;
  }
}
@media (min-width: 1024px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elEmbed {
    left: 0px;
    right: 0px;
    top: -20px;
    width: 100.0%;
    height: 744px;
  }
}

.ARScannerScreen .elCollectedButton {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARScannerScreen > .screenFgContainer > .foreground > .elCollectedButton {
    line-height: 71px;
    position: fixed;
    left: calc(50.0% + 0px - 53px);
    bottom: -1px;
    width: 105px;
    height: 71px;
  }
@media (min-width: 568px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elCollectedButton {
    line-height: 71px;
    left: calc(50.0% + 0px - 53px);
    bottom: -1px;
    width: 105px;
    height: 71px;
  }
}
@media (min-width: 768px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elCollectedButton {
    line-height: 70px;
    left: calc(50.0% + 0px - 52px);
    bottom: -1px;
    width: 105px;
    height: 70px;
  }
}
@media (min-width: 1024px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elCollectedButton {
    line-height: 70px;
    left: calc(50.0% + 0px - 52px);
    bottom: -1px;
    width: 105px;
    height: 70px;
  }
}

.ARScannerScreen .elArButton {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARScannerScreen > .screenFgContainer > .foreground > .elArButton {
    line-height: 71px;
    position: fixed;
    left: calc(16.5% + 0px - 53px);
    bottom: 0px;
    width: 105px;
    height: 71px;
  }
@media (min-width: 568px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elArButton {
    line-height: 71px;
    left: calc(16.5% + 0px - 53px);
    bottom: 0px;
    width: 105px;
    height: 71px;
  }
}
@media (min-width: 768px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elArButton {
    line-height: 70px;
    left: calc(16.5% + 0px - 52px);
    bottom: 0px;
    width: 105px;
    height: 70px;
  }
}
@media (min-width: 1024px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elArButton {
    line-height: 70px;
    left: calc(16.5% + 0px - 52px);
    bottom: 0px;
    width: 105px;
    height: 70px;
  }
}

.ARScannerScreen .elLeaderButton {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .ARScannerScreen > .screenFgContainer > .foreground > .elLeaderButton {
    line-height: 71px;
    position: fixed;
    left: calc(83.5% + 0px - 53px);
    right: 0px;
    bottom: -0px;
    width: 16.5%;
    height: 71px;
  }
@media (min-width: 568px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elLeaderButton {
    line-height: 71px;
    left: calc(83.5% + 0px - 53px);
    right: 0px;
    bottom: -0px;
    width: 16.5%;
    height: 71px;
  }
}
@media (min-width: 768px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elLeaderButton {
    line-height: 70px;
    left: calc(83.5% + 0px - 52px);
    right: 0px;
    bottom: -0px;
    width: 16.5%;
    height: 70px;
  }
}
@media (min-width: 1024px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elLeaderButton {
    line-height: 70px;
    left: calc(83.5% + 0px - 52px);
    right: 0px;
    bottom: -0px;
    width: 16.5%;
    height: 70px;
  }
}

.ARScannerScreen .elComp {
  overflow: hidden;
}

.ARScannerScreen .elComp.hasNestedComps > div {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}



/* Narrowest size for this element's responsive layout */
  .ARScannerScreen > .screenFgContainer > .foreground > .elComp {
    position: absolute;
    left: calc(50.0% + 0px - 118px);
    top: 28px;
    width: 236px;
    height: 32px;
  }
  .ARScannerScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 32px;
  }

@media (min-width: 568px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elComp {
    left: calc(50.0% + 0px - 118px);
    top: 28px;
    width: 236px;
    height: 32px;
  }
  .ARScannerScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 32px;
  }

}
@media (min-width: 768px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elComp {
    left: calc(50.0% + 0px - 117px);
    top: 28px;
    width: 234px;
    height: 32px;
  }
  .ARScannerScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 32px;
  }

}
@media (min-width: 1024px) {
  .ARScannerScreen > .screenFgContainer > .foreground > .elComp {
    left: calc(50.0% + 0px - 117px);
    top: 28px;
    width: 234px;
    height: 32px;
  }
  .ARScannerScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 32px;
  }

}


/* Narrowest size for this element's responsive layout */
  .CreateAccountScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .CreateAccountScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .CreateAccountScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .CreateAccountScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .CreateAccountScreen > .layoutFlow > .elRoundimage {
    position: relative;
    margin-top: 52px;
    width: 91px;
    margin-left: calc(50.0% - 46px);
  }
  .CreateAccountScreen > .layoutFlow > .elRoundimage > * { 
  width: 91px;
  height: 91px;
  }
  
@media (min-width: 568px) {
  .CreateAccountScreen > .layoutFlow > .elRoundimage {
    position: relative;
    margin-top: 52px;
    width: 91px;
    margin-left: calc(50.0% - 46px);
  }
  .CreateAccountScreen > .layoutFlow > .elRoundimage > * { 
  width: 91px;
  height: 91px;
  }
  
}
@media (min-width: 768px) {
  .CreateAccountScreen > .layoutFlow > .elRoundimage {
    position: relative;
    margin-top: 52px;
    width: 90px;
    margin-left: calc(50.0% - 45px);
  }
  .CreateAccountScreen > .layoutFlow > .elRoundimage > * { 
  width: 90px;
  height: 90px;
  }
  
}
@media (min-width: 1024px) {
  .CreateAccountScreen > .layoutFlow > .elRoundimage {
    position: relative;
    margin-top: 52px;
    width: 90px;
    margin-left: calc(50.0% - 45px);
  }
  .CreateAccountScreen > .layoutFlow > .elRoundimage > * { 
  width: 90px;
  height: 90px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .CreateAccountScreen > .layoutFlow > .elPicker {
    position: relative;
    margin-top: 116px;
    width: 262px;
    margin-left: calc(50.0% - 131px);
  }
  .CreateAccountScreen > .layoutFlow > .elPicker > * { 
  width: 262px;
  height: 52px;
  }
  
@media (min-width: 568px) {
  .CreateAccountScreen > .layoutFlow > .elPicker {
    position: relative;
    margin-top: 116px;
    width: 261px;
    margin-left: calc(50.0% - 131px);
  }
  .CreateAccountScreen > .layoutFlow > .elPicker > * { 
  width: 261px;
  height: 52px;
  }
  
}
@media (min-width: 768px) {
  .CreateAccountScreen > .layoutFlow > .elPicker {
    position: relative;
    margin-top: 116px;
    width: 260px;
    margin-left: calc(50.0% - 130px);
  }
  .CreateAccountScreen > .layoutFlow > .elPicker > * { 
  width: 260px;
  height: 52px;
  }
  
}
@media (min-width: 1024px) {
  .CreateAccountScreen > .layoutFlow > .elPicker {
    position: relative;
    margin-top: 116px;
    width: 260px;
    margin-left: calc(50.0% - 130px);
  }
  .CreateAccountScreen > .layoutFlow > .elPicker > * { 
  width: 260px;
  height: 52px;
  }
  
}

.CreateAccountScreen .elButton button {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .CreateAccountScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 176px;
    width: 249px;
    margin-left: calc(50.0% - 125px);
  }
  .CreateAccountScreen > .layoutFlow > .elButton > * { 
  width: 249px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .CreateAccountScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 176px;
    width: 249px;
    margin-left: calc(50.0% - 124px);
  }
  .CreateAccountScreen > .layoutFlow > .elButton > * { 
  width: 249px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .CreateAccountScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 176px;
    width: 248px;
    margin-left: calc(50.0% - 124px);
  }
  .CreateAccountScreen > .layoutFlow > .elButton > * { 
  width: 248px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .CreateAccountScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 176px;
    width: 248px;
    margin-left: calc(50.0% - 124px);
  }
  .CreateAccountScreen > .layoutFlow > .elButton > * { 
  width: 248px;
  height: 35px;
  }
  
}

